<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
	  <add name="NailAppEntities" connectionString="metadata=res://*/Basse.Model1.csdl|res://*/Basse.Model1.ssdl|res://*/Basse.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-PPHCELV\MSSQLSERVER01;initial catalog=NailApp;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
</configuration>